@using System.Reflection
@using Microsoft.EntityFrameworkCore;
@using Task.Extensions
@using Task.ModelObjects
@inject IDbContextFactory<Context> ContextFactory;

@typeparam PrimaryType where PrimaryType : ModelObject

@if (TypeCheck.NotEmpty(PrimaryObject))
{
    <table>
        <thead>
            <tr class="task-grid-action-area">
                <th colspan="@(Properties.Count)">
                    <TaskButton Text="Add" Type="TaskButton.ButtonType.Default" OnClick="AddRow" Compact="true"/>
                    <TaskButton Text="Save" Type="TaskButton.ButtonType.Positive" OnClick="Save" Compact="true"/>
                    <TaskButton Text="Undo" Type="TaskButton.ButtonType.Warning" OnClick="Undo" Compact="true"/>
                </th>
            </tr>
            <tr>
                @foreach (PropertyInfo prop in Properties)
                {
                    <th title="@TaskGrid.GetTitle(ObjectType, prop)" >@prop.Name</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (KeyValuePair<Guid, TaskGridRow<PrimaryType>> row in dict)
            {
                <tr id="@row.Key">
                    @foreach (PropertyInfo prop in Properties)
                    {
                        <td>
                            <input @onchange="e => OnChange(e, prop, row.Key)" value="@prop.GetValue(row.Value.Row)" />
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}

@code 
{
    [Parameter]
    public List<PrimaryType> PrimaryObject { get; set; } = new List<PrimaryType>();

    private Type ObjectType { get; set; } = typeof(object);

    private Dictionary<Guid, TaskGridRow<PrimaryType>> dict { get; set; } = new Dictionary<Guid, TaskGridRow<PrimaryType>>();

    private List<PropertyInfo> Properties { get; set; } = new List<PropertyInfo>();

    private void OnChange(ChangeEventArgs e, PropertyInfo prop, Guid identity)
    {
        if(dict.ContainsKey(identity))
        {
            TaskGridRow<PrimaryType> row = dict[identity];
            row.SetValue(prop, e.Value!.ToString()!);
        }


    }

    public void AddRow()
    {
        
    }

    /// <summary>
    /// Saves all changed records in grid
    /// </summary>
    public async Task Save()
    {
        using(Context context = ContextFactory.CreateDbContext())
        {
            foreach(TaskGridRow<PrimaryType> row in dict.Select(d => d.Value))
            {
                context.Update<PrimaryType>(row.Row);
            }
            await context.SaveChangesAsync();
        }
    }

    /// <summary>
    /// Undos all changes in grid
    /// </summary>
    public void Undo()
    {
        foreach(TaskGridRow<PrimaryType> row in dict.Select(d => d.Value))
        {
            row.Undo();
        }
    }

    protected override void OnParametersSet()
    {
        if (TypeCheck.NotEmpty(PrimaryObject))
        {
            ObjectType = PrimaryObject.First().GetType();

            PropertyInfo[] properties = ObjectType.GetProperties();

            //Make sure we don't include Guid properties
            Properties = properties.Where(p => p.PropertyType != typeof(Guid)).ToList();

            //Remove all default properties (timestamps)
            Type mOType = typeof(ModelObject);
            List<PropertyInfo> excludeProperties = mOType.GetProperties().ToList();
            Properties.RemoveAll(p => excludeProperties.Select(e => e.Name).Contains(p.Name));

            using(Context context = ContextFactory.CreateDbContext())
            {
                PropertyInfo? identity = context.GetPrimaryKey(PrimaryObject.First());
                if(TypeCheck.NotEmpty(identity))
                {
                    PrimaryObject.ForEach(r =>
                    {
                        Guid? guid = identity.GetValue(r) as Guid?;
                        if (TypeCheck.NotEmpty(guid))
                        {
                            dict.TryAdd((Guid)guid, new TaskGridRow<PrimaryType>(r, Properties));
                        }
                    });
                }
            }
        }
    }
}
